@model IEnumerable<BlogAppDAL.Entities.Comment>
           
<div id="myCommentDiv" style="display: none">
    <textarea id="myComment" cols="100" rows="5"></textarea><br />
    <button type="button" id="btnSubmit">发表评论</button>
</div>
