@{
    ViewBag.Title = "下载";
}

<h2>欢迎下载APP！</h2>

<button style="background-color: lightgreen;width: 100px">Android</button><br />
<button style="background-color: gold;width: 100px">Apple</button><br />
<button style="background-color: lightskyblue;width: 150px">Windows UWP</button>
